extends ui_layout

block content

  .ui.text.container
    br
    h2 Community Rules for Masks
    p We are so glad you are here.
    
    h3 We need you to help us.
    
    h3 Read on for your true task.

    .ui.big.green.labeled.icon.button.com
        i.rocket.icon
        |   Got it!
    br
    br
    br
