extends ui_layout

block content

  .ui.text.container
    br
    h1 Welcome to Masks!
        h3 Here's what you can do on the site.
    ul
        li Create new posts! Upload existing photos or take new photos with your phone.
        li Reply to others' posts to get a conversation going.
        li Like others' posts to show you love their snaps!
        s Fill out your profile. You can add as much or as little info as you want.
        li You can post, but they cannot see. You are here to observe, you cannot interfere.
    img.ui.centered.image(src='/esl-howto.png')
    br
    h1 What you need to do here.
      h3 You are here for a reason.
      h3 You need to investigate what mask a user is wearing.
      h3 You can try posting to them, but they can't see you. They can't hear you.
      h3 Investigate instead, discover their masks.
      p There are ten users wearing ten masks. 
        p Social Mask: The user wearing this mask is social. Many people talk to them, and they talk to others in return.
        br
        p Lonely Mask: The user wearing this mask is isolated. They don't post often, and others don't interact with them.
        br
        p Helpful Mask: The user wearing this mask is kind. They are frequently trying to uplift other users.
        br
        p Hurtful Mask: The user wearing this mask is wicked. They are frequently trying to tear other users down.
        br
        p Ordered Mask: The user wearing this mask is organized. They only post about specific topics, and spend most of their time away from Masks.
        br
        p Chaotic Mask: The user wearing this mask is messy. They post about whatever, whenever.
        br
        p Opened Mask: The user wearing this mask is novel. They are open to trying new things.
        br
        p Closed Mask: The user wearing this mask is mundane. They often do the same thing.
        br
        p Tense Mask: The user wearing this mask is unbalanced. They often swing between emotions.
        br
        p Relaxed Mask: The user wearing this mask is level. They are generally calm in posts.
        
      h3 After 24 hours, each of these users will make a final post. Reply to them and identify their mask. Write in how you identified them.
      h3 Look at their posts. Look at their comments. Look at their bios. 
      h1 You must identify them.
    br
    .ui.big.green.labeled.icon.button.info
        i.rocket.icon
        |   Let's Go!
